html {
 cursor: url("./img/pixil-frame-azul.ico"), default;
}

.pointer {
  cursor: url("./img/pixil-frame-azul_azul.ico");
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body {
 background-color: white;
 height: 100%;
 display: inline-block;
 align-items: center;
}

h1 {
  font-family: 'Space Mono', monospace;
  font-size: 4.5vh;
  color: black;
  font-weight: regular;
  animation-name: jello;
  animation-duration: 3s;
}

h2{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 3vh;
  font-weight: regular;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.7vh;
  color: gray;
  font-weight: regular;
}

a {
text-decoration-line: underline;
text-decoration-style: wavy;
cursor: url("./img/pixil-frame-azul_azul.ico");
}

a:link {
color: blue;
border-bottom: 1px solid white;
cursor: url("./img/pixil-frame-azul_azul.ico");
}

a:visited {
color: blue;
border-bottom: 1px solid white;
cursor: url("./img/pixil-frame-azul_azul.ico");
}

a:hover {
color: red;
border-bottom: 10px solid white;
cursor: url("./img/pixil-frame-azul_azul.ico");
}

h2:hover {
  cursor: url("./img/pixil-frame-azul_azul.ico");
  color: red;
}

div{
  color: white;
  margin-top: 30px;
  cursor: url("./img/pixil-frame-azul.ico");
}

ul {
  list-style:
}

li {
  cursor: url("./img/pixil-frame-azul_azul.ico");
}

li:hover {
  font-style: italic;
  cursor: cell;
  cursor: url("./img/pixil-frame-azul_azul.ico");
}


@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}
