

body {

  background-image:url("./img/348158_opacidad.png");
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5em;
  color: white;
  font-weight: bold;
  padding: 0.5%;
}

h2{
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 2em;
}

h3 {
  font-family: 'Roboto Mono', monospace;;
  font-size: 1em;
  color: white;
  font-weight: regular;
}

div{
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

ul {
  list-style: none;
}

li:hover {
  font-style: italic;
  color: blue;
}
