

body {

  background-image:url("348158_opacidad.png");
}

h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 3.5em;
  color: white;
  font-weight: bold;
  margin-top: : 0.5%;
  margin-top: : 0.5%;
  margin-left: 40px;
}

h2{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: 2.5em;
}

h3 {
  font-family: 'Roboto Mono', monospace;;
  font-size: 1em;
  color: black;
  font-weight: regular;
}

div{
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
}

ul {
  list-style: none;
}

li:hover {
  font-style: italic;
  color: blue;
}
